services:
  playwright-mcp:
    image: mcr.microsoft.com/playwright/mcp:latest
    container_name: playwright-mcp
    init: true
    restart: unless-stopped
    ports:
      - "8931:8931"
    command:
      [
        "--browser", "chromium",
        # "--headless",
        "--user-agent", "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36",
        "--viewport-size", "1280x720",
        "--ignore-https-errors",
        "--allowed-hosts", "*",
        "--port", "8931"
      ]
    shm_size: "2gb"
    cap_add:
      - SYS_ADMIN

  workflow:
    build:
      context: .
      dockerfile: workflow.dockerfile
    container_name: workflow
    depends_on:
      - playwright-mcp
    volumes:
      - ./output:/app/output
    command: ["python", "-m", "code.main"]
